@charset "UTF-8";
/*==================== POLICES ======================*/
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Merriweather&family=Open+Sans&display=swap');

/*==================== GENERAL ======================*/
:root{
	/**** FONTS *****/
	--titleFont: 'Francois One', sans-serif;
	--subtitleFont : 'Francois One', sans-serif;
	--textFont: 'Open Sans', sans-serif;
	/**** SIZES *****/
	--titleSize :3rem;
	--subtitleSize : 1.75rem;
	--textSize : 1.5rem;
	/**** COLORS *****/
	--orange : #c85a19;
	--vert : #00503c;
}

h1{
	font-family : var(--titleFont);
	color : var(--orange);
}

h2{
	font-family : var(--subtitleFont);
	font-size : var(--subtitleSize);
}
body{
	font-family : var(--textFont);
	margin:0;
	padding:0;
}

.nav-link:hover{
	color : var(--orange);
}

/*==================== FOOTER ======================*/
footer{
	background-color : var(--vert);
	color : white; 
	font-size : 0.75rem;
	height : 20vh;
	text-align : center;
	padding-top : 20px;
	border-top : 5px solid #003729;
}

footer a{
	color : white;
}

/*==================== CGU ======================*/
span{
	font-family : var(--subtitleFont);
}

/*==================== TABLEAUX ======================*/
.table{
	width : 80vw ;
	margin : 10px auto;
	font : var(--textFont);
}
 thead th{
 	font-family : var(--subtitleFont);
 	color : var(--orange);
 }







