@charset "UTF-8";
/*==================== POLICES ======================*/
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Merriweather&family=Open+Sans&display=swap');

/*==================== GENERAL ======================*/
:root{
	/**** FONTS *****/
	--titleFont: 'Francois One', sans-serif;
	--subtitleFont : 'Francois One', sans-serif;
	--textFont: 'Open Sans', sans-serif;
	/**** SIZES *****/
	--titleSize :3rem;
	--subtitleSize : 1.75rem;
	--textSize : 1.5rem;
	/**** COLORS *****/
	--principal : #c85a19;
	--principalFonce : ;
	--secondaire: #00503c;
	--secondaireFonce : #003729;
}

h1{
	font-family : var(--titleFont);
	color : var(--orange);
}

h2{
	font-family : var(--subtitleFont);
	font-size : var(--subtitleSize);
}
body{
	font-family : var(--textFont);
	margin:0;
	padding:0;
}

.nav-link:hover{
	color : var(--principal);
}

/*==================== FOOTER ======================*/
footer{
	background-color : var(--secondaire);
	color : white; 
	font-size : 0.75rem;
	height : 20vh;
	text-align : center;
	padding-top : 20px;
	border-top : 5px solid var(--secondaireFonce);
	position: absolute;
  	bottom: 0;
  	width: 100%;
}

footer a{
	color : white;
}

/*==================== CGU ======================*/
span{
	font-family : var(--subtitleFont);
}

/*==================== TABLEAUX ======================*/
.table{
	margin : 10px, auto;
	font : var(--textFont);
}
 thead th{
 	font-family : var(--subtitleFont);
 	color : var(--principal);
 }

.input-group{
	width : 500px;
}

.formConnexion{
	width : 45vw;
	margin : auto;
}





