@charset "UTF-8";
/*==================== POLICES ======================*/
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Merriweather&family=Open+Sans&display=swap');

/*==================== GENERAL ======================*/
:root{
	/**** FONTS *****/
	--titleFont: 'Francois One', sans-serif;
	--subtitleFont : 'Francois One', sans-serif;
	--textFont: 'Open Sans', sans-serif;
	/**** SIZES *****/
	--titleSize :3rem;
	--subtitleSize : 1.75rem;
	--textSize : 1.5rem;
	/**** COLORS *****/
	--principal : #c85a19;
	--principalFonce : #ab4203 ;
	--secondaire: #00503c;
	--secondaireFonce : #003729;
	/* redefinition des couleurs Bootstrap */
	/* PRIMARY = ORANGE */
	--bs-link-color : #c85a19;
	--bs-primary: #c85a19;
	--bs-link-hover-color: #a04f1e;
	--bs-primary: #c85a19;
	--bs-blue: #c85a19;
	--bs-primary-rgb: 200,90,25;
	/* SECONDARY = VERT */
	--bs-green: #00503c;
	--bs-success: #00503c;
}

h1{
	font-family : var(--titleFont);
	text-decoration-line: underline;
	-webkit-text-decoration-color: var(--principal);
	text-decoration-color: var(--principal);
	text-transform: uppercase;
}

h2,h3{
	font-family : var(--subtitleFont);
	font-size : var(--subtitleSize);
	text-transform: uppercase;
	width:fit-content;
}
html{
	min-height:100%;
}
body{
	font-family : var(--textFont);
	margin:0;
	display : flex;
	flex-direction:column; 
	justify-content:space-between;
	min-height:100vh;
	text-align:center;

}
.container{
	flex:1;
	padding-bottom: 20vh;
}

.btn-primary {
  --bs-btn-bg: #c85a19;
  --bs-btn-border-color: #c85a19;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ab4203;
  --bs-btn-hover-border-color: #ab4203;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c85a19;
  --bs-btn-active-border-color: #ab4203;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success {
  --bs-btn-bg: #00503c;
  --bs-btn-border-color: #00503c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #003729;
  --bs-btn-hover-border-color: #003729;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00503c;
  --bs-btn-active-border-color: #003729;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

nav a:hover{
	color:var(--principal);
	border-bottom : 3px solid var(--principal);
	width:fit-content;
}


/*==================== FOOTER ======================*/
footer{
	border-top : 4px solid var(--secondaireFonce);
	background-color : var(--secondaire);
	color : white; 
	font-size : 0.75rem;
	text-align : center;
	width: 100%;
}

footer a{
	color : white;
}
/*==================== INDEX ======================*/

.index-item {
	display: flex;
	flex-wrap: wrap;
}
.masthead{
	background-image: url('medias/jaiUnBackground.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 83vh;
}

.index-item h1{
	font-size : 6rem;
	color : var(--principal);
	border-bottom:none;
	/*align-self : flex-end;*/
}
.index-item h1::before{
	  content: "";
    display: block;
    background: url('medias/accueil.jpg') no-repeat;
    width: 40vw;
    height: 35vh;
    position : relative;
    left : 10px;
    top : 30px;
}
/*==================== CGU ======================*/
span{
	font-family : var(--subtitleFont);
}

/*==================== TABLEAUX ======================*/
.table{
	margin : auto, 20px;
	font : var(--textFont);
}
 thead th{
 	font-family : var(--subtitleFont);
 	color : var(--principal);
 }

.input-group{
	width : 500px;
}

.formConnexion{
	width : 45vw;
	margin : auto;
}
/*==================== LISTE JOUEURS (PUBLIC) ======================*/
.card{
	max-width:200px;
	min-width:200px;
	margin-bottom : 5px !important;
	border : 1px solid var(--principal) !important;
	border-radius : 0;
	padding : 2px;
}
.cardSexe h2{
	border-bottom:2px solid var(--principal);
}
.card-text{
	margin:0 !important;
	padding:0;
	
}
.card-text span{
	color : var(--principal);
	font-size:1.25rem;
}

.card-group{
	justify-content : space-around;
	align-content : space-around;
}

.cardJoueurs{
	display:flex;
}
.cardSexe{
	width : calc(100vw/2);
}

.text-large {
	font-size: 1000%!important;
}
.masthead > div {
	margin-top: 30vh!important;
}

.masthead > div > div{
	margin-top: 30vh!important;
}


